<h1>Mentor Appointments</h1>

<div class="open-appointments">
  <h2>My Slots</h2>
  <% @slots.each do |appointment| %>
    <ul>
      <a href="/appointments/<%= appointment.id %>"><li>Start Time: <%= appointment.start_time  %><br>Duration: <%= appointment.duration %></li></a>
    </ul>
  <% end %>
  <a href="/appointments/new">Add Slot</a>
</div>

<div class="set-appointemts">
  <h2>My Appointments</h2>
  <% @mentor.appointments.each do |appointment| %>
    <ul>
      <a href="/appointments/<%= appointment.id %>"><li>Start Time: <%= appointment.start_time  %><br>Duration: <%= appointment.duration %></li></a>
    </ul>
  <% end %>
</div>

<div class="complete-appointemts">
  <h2>Complete Appointments</h2>
  <% @complete.each do |appointment| %>
    <ul>
      <a href="/appointments/<%= appointment.id %>"><li>Start Time: <%= appointment.start_time  %><br>Duration: <%= appointment.duration %></li></a>
    </ul>
  <% end %>
</div>
