<h1>Add New Slot</h1>

<div class="form-container">
  <%= form_for @appointment do |f| %>
    <%= f.label :start_time, "Start Time" %><br>
    <%= f.datetime_field :start_time %><br>
    <%= f.label :duration%>
    <%= f.hidden_field :mentor_id, value: 1 %>
    <%= f.select :duration, options_for_select([["Select One", ""], 30, 60])%><br>
    <%= f.submit "Add Slot" %>
  <% end %>
</div>
