<h1>Commitment Details</h1>
<% mentor = @appointment.mentor.user %>
<% student = @appointment.student.user if @appointment.student %>
<% date = @appointment.start_time.strftime("%B %e, %Y") %>
<p>
  Mentor: <%= mentor.first_name %> <%= mentor.last_name %>
</p>
<p>
  Student:
  <% if student %>
    <%= student.first_name %> <%= student.last_name %>
  <% else %>
    (unassigned)
  <% end %>
</p>
<p>
  Date: <%= @appointment.date %>
</p>
<p>
  Start time: <%= @appointment.starts_at %>
</p>
<p>
  End time: <%= @appointment.ends_at %>
</p>

<p>(Show the first two buttons only to students)</p>
<% if true # replace this with student condition %>
  <%= form_for @appointment do |f| %>
    <%= f.hidden_field :student_id, value: current_user.id %>
    <%= f.submit 'Sign Up!' %>
  <% end %>
<% end %>

<% if true # replace this with: if !mentor? && student %>
  <%= form_for @appointment do |f| %>
    <%= f.hidden_field :student_id, value: nil %>
    <%= f.submit 'Cancel Appointment' %>
  <% end %>
<% end %>

<p>(Show the last button only to mentors)</p>
<% if true # replace this with: if mentor? %>
  <%= form_for @appointment, method: :delete do |f| %>
    <%= f.submit 'Delete Appointment' %>
  <% end %>
<% end %>



